body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEF2F3;
  color: #4c5a66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

b {
  font-weight: 700;
  color: mediumseagreen;
}

#app {
  width: 80%;
  max-width: 600px;
  min-width: 390px;
  margin: 90px auto 30px;
  text-align: center;
}

.search-box {
  width: 100%;
  border: none;
  border-bottom: 2px solid #A1AFB9;
  font: 24px/36px sans-serif;
  padding: 12px 30px;
  background: transparent;
  outline: none;
  margin-bottom: 30px;
}

.transactions-details {
  text-align: right;
  margin-bottom: 5px;
}

.transactions {
  width: 100%;
  font-size: 16px;
  table-layout: fixed;
  border-collapse: collapse;
}

.transactions thead {
  font-size: 20px;
  background: #BEC8CF;
}

.transactions tr {
  border-bottom: 1px solid #BEC8CF;
}

.transactions tr:nth-child(even) {
  background: #E5E9EC;
}

.transactions td,
.transactions th {
  padding: 9px 18px;
  text-align: left;
}

.transactions .date {
  width: 50%;
}

.transactions .money {
  text-align: right;
}

.transactions .non-ideal-results td {
  font-size: 24px;
  text-align: center;
  padding: 30px 18px;
  color: #A1AFB9;
}