body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEF2F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 80%;
  max-width: 900px;
  min-width: 360px;
  margin: 90px auto 30px;
  text-align: center;
}

.search-box {
  width: 100%;
  border: none;
  border-bottom: 2px solid #A1AFB9;
  font: 24px/36px sans-serif;
  padding: 12px 30px;
  background: transparent;
  color: #4c5a66;
  outline: none;
  margin-bottom: 30px;
}

.table-details {
  text-align: right;
  margin-bottom: 5px;
}

.transactions {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.transactions thead {
  font-size: 21px;
  background: #BEC8CF;
}

.transactions tr {
  border-bottom: 1px solid gray;
}

.transactions td,
.transactions th {
  padding: 9px;
  text-align: left;
}

.transactions .date {
  width: 50%;
}

.transactions .money {
  text-align: right;
}